/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Header */
header {
    background-color: #1D6E1C;
    color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Sections */
.user-account, .betting-form, .bet-history, .leaderboard, .scoreboard {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Buttons and Inputs */
.form-button {
    background-color: #ff8c00;
    color: white;
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-button:hover {
    background-color: #e67600;
    transform: scale(1.05);
}
